.in-org-nav {
  height: 60px;
}

.org-name {
  font-size: 40px;
}

.handle {
  font-size: 20px;
  color: #7DF9FF;
  padding: 10px;
}

.handle img {
  height: 30px;
  padding-left: 3px;
  padding-right: 3px;
}
